<!-- Add Group Modal -->
<div class="modal fade" id="mdlAddGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">Create Class</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		</div>
		<div class="modal-body">
			<div class="container-fluid modal-form">
				<div class="row">
					<div class="col-4"><label for="group-name">Group Name</label></div>
					<div class="col-8"><input type="text" class="form-control"></div>
				</div>
				<br>
				<br><br>
				<div class="row">
					<div class="col-md-10">
						<h4>Members: </h4>
					</div>
					<div class="col-md-2">
						<button class="btn btn-primary add-member float-right"><i class="fa fa-plus"></i>&nbsp;Add Member</button>
					</div>
				</div>
				
			</div>
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary">Save changes</button>
		</div>
	</div>
	</div>
</div>

<!-- Delete class confirmation modal -->
<div class="modal fade" id="mdlDeleteClass" tabindex="-1" role="dialog" aria-labelledby="mdlDeleteClassLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
		<h5 class="modal-title" id="mdlDeleteClassLabel">Delete Class</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		</div>
		<div class="modal-body">
			<p>
				This action will delete all associated groups as well.
			</p>
			<p class="text-danger">
				This action CANNOT BE UNDONE!
			</p>
			<input type="hidden" name="hdnDeleteClass" id="hdnDeleteClass" value="">
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-danger" id="btnConfirmDeleteClass">Delete Class</button>
		</div>
	</div>
	</div>
</div>

<!-- Reset group password modal -->
<div class="modal fade" id="mdlResetGroupPassword" tabindex="-1" role="dialog" aria-labelledby="mdlResetGroupPasswordLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
		<h5 class="modal-title" id="mdlResetGroupPasswordLabel">Reset Group Password</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		</div>
		<div class="modal-body">
			<p>
				A new password will be emailed to all members of the group.
			</p>
			<p class="text-danger">
				This action CANNOT BE UNDONE!
			</p>
			<input type="hidden" name="hdnResetGroupPassword" id="hdnResetGroupPassword" value="">
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-danger" id="btnConfirmResetGroupPassword">Reset Password</button>
		</div>
	</div>
	</div>
</div>
