<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>02.133: Ideal Innovations?</title>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</head>
<style>
    body {
        margin: 0;
    }
    .header {
        background-image: url('/static/img/stars.png');
        height: 300px;
        width: inherit;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding: 15em;
        opacity: 0.95;
    }
    .title {
        font-family: 'Poiret One';
        color: white;
        font-size: 5em;
        letter-spacing: 15px;
        display: inline-block;
    }
</style>
<body>
    <div class="header">
        <div class="title">
            Asimov's Journals
        </div>
    </div>
</body>
</html>